<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>이미지 미리보기</title>
</head>
<body>
	<input type="file"	 id="imgInp"/>
	<img id="img" width="200" height="200" border="1"/>
	<script>
	var imgInp = document.getElementById("imgInp")
	var img = document.getElementById("img")
	//imgInp의 선택이 변경되면 
	imgInp.addEventListener("change",function(e){
		//파일이 선택된 경우에만 수행
		//자바 스크립트에서는 null이나 0은 false	
		if(imgInp.files && imgInp.files[0]){
			//파일이름 가져오기
			var filename = imgInp.files[0].name
			//파일의 확장자 가져오기 : 마지막 . 이후의 문자열
			var ar = filename.split(".")
			var ext = ar[ar.length-1]
			if(ext.toLowerCase() != "jpg" &&
			   ext.toLowerCase() != "jpeg" &&
				ext.toLowerCase() != "gif" &&
				ext.toLowerCase() != "png" ){
				alert("그림 파일을 선택하세요")
				return
			}
			
			//파일의 내용을 읽는 객체를 생성
			var reader = new FileReader()
			reader.readAsDataURL(imgInp.files[0])
			
			//FileReader의 load	이벤트 처리
			reader.addEventListener("load",function(e){
				//읽은 내용을 img 태그에 출력
				img.src=reader.result	
			
			
		})
		
		
		}
		
		
		
	})
	</script>
	
	
</body>
</html>